*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #2d93ad;
    text-align: center;
}
/* .container{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 20vh;
    width: 20px;
}

.game{
    align-items:"center";
    height:60vh;
    width: 60px;
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;

}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
} */

.container{
    height: 70vh;
    
    display: flex;
    justify-content: center;
    
    align-items: center;

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border: none;
    gap: 1.5vmin;

}

.box{
    height: 18vmin;
    width: 18vmin;
    justify-content: center;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 10vmin;
    background-color: antiquewhite;
    

}
#reset-btn{
    color: white;
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    border-radius: 1rem;
    border: none;
    cursor: pointer;

}

.hide{
    display: none;
}